<div style="min-height: 100vh;width: 1180px;margin: 0 auto;text-align: center;">
    <b> Xin chào, {{this.name}} </b>
    <div> {{this.title}} </div>
    <div> {{this.titleHome}} </div>
    <div><a href="/index.html" style="text-decoration: none;color:blue">Trở về trang chủ</a></div>
    <div><a href="/list.html" style="text-decoration: none;color:Red">Xem Hội nghị đã đăng ký</a></div>
</div>