<div class=" container">
    <div class="card-header">
        <h4>Edit Conference</h4>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <label for="txtc_ID">STT</label>
                <input type="text" class="form-control" id="txtc_ID" name="c_ID" readonly
                    value="{{this.conferences.c_ID}}">
            </div>
            <div class="form-group">
                <label for="txtName">Tên hội nghị</label>
                <input type="text" class="form-control" id="txtName" name="c_Name" autofocus
                    value="{{this.conferences.c_Name}}">
            </div>
            <div class="form-group">
                <label for="txtbio">Mô tả ngắn</label>
                <input type="text" class="form-control" id="txtbio" name="c_Bio" autofocus 
                value="{{this.conferences.c_Bio}}">
            </div>
            <div class="form-group">
                <label for="txtDetail">Mô tả chi tiết</label>
                <input type="text" class="form-control" id="txtDetail" name="c_Details" autofocus 
                value="{{this.conferences.c_Details}}">
            </div>
            <div class="form-group">
                <label for="Dtime">Thời gian</label>
                <input type="date" class="form-control" id="Dtime" name="c_Time" autofocus 
                value="{{format_DOB this.conferences.c_Time}}">
            </div>
            <div class="form-group">
                <label for="txtStatus">Trạng thái</label>
                <input type="text" class="form-control" id="txtStatus" name="c_Status" autofocus 
                value="{{this.conferences.c_Status}}">
            </div>
            
            
            <a class="btn btn-success" href="/admin/conference" role="button" title="Back to List">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <button type="submit" class="btn btn-danger" title="Remove Conference" 
                formaction="/admin/conference/del">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/conference/update">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>