<table class="table table-hover">
    <div class="mt-5 mb-5 d-flex justify-content-center" style="color: crimson;">
        <h5>SỬA ĐỔI THÔNG TIN HỘI NGHỊ</h5>
        <a class="btn btn-outline-success mt-5 mb-2 " style="float:left;" href="/admin/conference/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Conference
        </a>
    </div>
    <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th>Name </th>
            <th>Bio</th> 
            <th>Details</th> 
            <th>Time</th> 
            <th>Status</th>
            <th>Edit</th> 
        </tr>
    </thead>
    <tbody>
        {{#each this.listCon}}
        <tr data-toggle="collapse" href="#conFe" class="text-primary">
            <td>{{c_ID}}</td>
            <td>{{c_Name}}</td>
            <td>{{c_Bio}}</td>
            <td>{{{c_Details}}}</td>
            <td>{{format_DOB c_Time}}</td>
            <td>{{#if c_Status}}Đã diễn ra {{else}}Sắp diễn ra{{/if}}</td>
            <td>
                <a class="btn btn-warning btn-sm" href="/admin/conference/edit/{{c_ID}}" role="button" 
                    title="Edit Conference">
                 <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                {{!-- <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a> --}}
            </td>
        </tr>
        {{/each}}
    </tbody>

    
</table>
<table class="table table-hover">
    <div class="mt-5 mb-5 ml-5 justify-content-center" style="color: BLUE;">
        <h5>DANH SÁCH NGƯỜI THAM DỰ</h5>
    </div>
    <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>NameCon</th>
            <th>Attend</th>
            <th>Status</th>
            <th>Permission</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.listUser}}
        <tr class="card-body collapse show"  data-toggle="collapse"  aria-expanded="false" id="conFe">
            <td>{{f_ID}}</td>
            <td>{{f_Name}}</td>
            <td>{{c_Name}}</td>
            <td>{{#if attend}}True
                {{else}}False
                
            {{/if}}</td>
            <td>{{#if c_Status}}Đã diễn ra {{else}}Sắp diễn ra{{/if}}</td>
            <td>{{#if f_Permission}}User {{else}}Admin
            {{/if}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>