<div class="container">

<table class="table table-hover">
    <div class="mt-5 mb-5 ml-5 justify-content-center" style="color: red;">
        <h5>DANH SÁCH HỘI NGHỊ MÀ CÁC USER ĐÃ ĐĂNG KÝ</h5>
    </div>
    <thead >
        <tr>
            <th>STT</th>
            <th>Tên Users</th>
            <th>Tên hội nghị</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.listUser}}
        <tr>
            <td>{{f_ID}}</td>
            <td>{{f_Name}}</td>
            <td>{{c_Name}}</td>
            <td>{{#if c_Status}}Đã diễn ra {{else}}Sắp diễn ra{{/if}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>
</div>