<div class="container">
    <div class="d-flex justify-content-center">
        <form method="POST" action="reg" class="col-7 mt-5 " enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputSuccess">Tài khoản</label>
                <input type="text" class="form-control" placeholder="Enter user"
                id="exampleInputSuccess" name="f_Username">
            </div>
            <div class="form-group">
                <label for="exampleInputFail">Mật khẩu</label>
                <input type="password" placeholder="Enter email" class="form-control"
                id="exampleInputFail" name="f_Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFail">Họ tên</label>
                <input type="text" class="form-control" id="exampleInputFail"
                 placeholder="Enter Name" name="f_Name">
            </div>
            <div class="form-group">
                <label for="exampleInputFail">Email</label>
                <input type="text" class="form-control" id="exampleInputFail" placeholder="Enter email" name="f_Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputFail"><b>Upload hình ảnh</b> </label>
                <div>
                    <img src="/uploads/{{this.accountAdmin.f_Avatar}}" alt=""
                        style="width: 100px;margin: 10px;border-radius: 50%;margin-left: 0;">
                </div>
                <input type="file" class="form-control" id="exampleInputFail" name="f_Avatar">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="exampleInputFail" name="f_Permission" value="1">
            </div>
           
            <div class="form-group">
                <label for="exampleInputFail">Danh sách hội nghi chưa diễn ra</label>
                
                <select name="c_ID" id="NameConId" class="form-control mb-5">
                    {{#each this.listUser }}
                        <option value="{{c_ID}}">{{#if c_ID}}{{c_Name}}
                        {{/if}}</option>
                    {{/each}}
                  
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="attend" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Will you attend?
                </label>
            </div>
            {{#if this.infoSignup}}
            <div class="form-group">
                <input type="text" class="alert alert-danger mt-3" style="width:100%;text-align:center"
                    id="exampleInputFail" name="titlefail" readonly value="{{infoSignup.msg}}">
            </div>
            {{/if}}
            <div class="row">
            <div class="justify-content-center"><button type="submit" class="btn btn-primary mt-4 mb-5 ">Đăng Ký</button></div>
            <div><a href="/list.html" class="btn btn-outline-warning ml-4 mt-4 mb-5">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            Xem Hội nghị đã đăng ký</a></div>
            </div>
        </form>
    </div>
</div>

